@charset "utf-8";
@import url(../lib/layui/css/layui.css);
*{
    margin: 0px;
    padding: 0px;
    font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
}
a{
    text-decoration: none;
}
html{
    width: 100%;
    height: 100%;
    overflow-x:hidden; 
    overflow-y:auto;
}
body{
    width: 100%;
    min-height: 100%;
}
.login-bg{
    /*background: #eeeeee url() 0 0 no-repeat;*/
     /*background:url(../images/demo-1-bg.jpg) no-repeat center;*/
    background: #eeeeee;
    background-size: cover;
    overflow: hidden;
}
.login{
    margin: 120px auto 0 auto;
    min-height: 420px;
    max-width: 420px;
    padding: 40px;
    background-color: #ffffff;
    margin-left: auto;
    margin-right: auto;
    border-radius: 4px;
    /* overflow-x: hidden; */
    box-sizing: border-box;
}
.login a.logo{
    display: block;
    height: 58px;
    width: 167px;
    margin: 0 auto 30px auto;
    background-size: 167px 42px;
}
.login .message {
    margin: 10px 0 0 -58px;
    padding: 18px 10px 18px 60px;
    background: #26189f;
    position: relative;
    color: #fff;
    font-size: 16px;
}
.login #darkbannerwrap {
    background: url(../images/aiwrap.png);
    width: 18px;
    height: 10px;
    margin: 0 0 20px -58px;
    position: relative;
}

.login input[type=text],
.login input[type=file],
.login input[type=password],
.login input[type=email], select {
    border: 1px solid #DCDEE0;
    vertical-align: middle;
    border-radius: 3px;
    height: 50px;
    padding: 0px 16px;
    font-size: 14px;
    color: #555555;
    outline:none;
    width:100%;
    box-sizing: border-box;
}
.login input[type=text]:focus,
.login input[type=file]:focus,
.login input[type=password]:focus,
.login input[type=email]:focus, select:focus {
    border: 1px solid #27A9E3;
}
.login input[type=submit],
.login input[type=button]{
    display: inline-block;
    vertical-align: middle;
    padding: 12px 24px;
    margin: 0px;
    font-size: 18px;
    line-height: 24px;
    text-align: center;
    white-space: nowrap;
    vertical-align: middle;
    cursor: pointer;
    color: #ffffff;
    background-color: #21189f;
    border-radius: 3px;
    border: none;
    -webkit-appearance: none;
    outline:none;
    width:100%;
}
.login hr {
    background: #fff url() 0 0 no-repeat;
}
.login hr.hr15 {
    height: 15px;
    border: none;
    margin: 0px;
    padding: 0px;
    width: 100%;
}
.login hr.hr20 {
    height: 20px;
    border: none;
    margin: 0px;
    padding: 0px;
    width: 100%;
}
.x-body{
    padding: 24px 28px;
    background-color: #f5f7fa;
}
.page-container{
    max-width: 1200px;
    margin: 0 auto;
}
.page-header h2{
    font-size: 20px;
    font-weight: 500;
}
.page-header p{
    margin-top: 4px;
    color: #999;
}
.filter-card{
    margin-bottom: 20px;
}
.filter-label{
    display: block;
    margin-bottom: 4px;
    font-size: 12px;
    color: #666;
}
.filter-actions{
    display: flex;
    align-items: flex-end;
    justify-content: flex-start;
}
.filter-actions .layui-btn{
    min-width: 90px;
}
.x-nav{
    padding: 0 24px;
    position: relative;
    z-index: 99;
    border-bottom: 1px solid #e5e5e5;
    line-height: 39px;
    height: 39px;
    overflow: hidden;
}
.xblock{
    display: block;
    margin-bottom: 10px;
    padding: 5px;
    line-height: 22px;
    /* border-left: 5px solid #1E9FFF; */
    border-radius: 0 2px 2px 0;
    background-color: #f2f2f2;
}
.x-right{
  float: right;
}
.x-so{
    /*text-align: center;*/
    /*background: #f2f2f2 url() 0 0 no-repeat;*/
    margin-bottom: 20px;
}
.x-so input.layui-input{
    width: 150px;
}
.x-so .layui-form-label{
    display: inline-block;
}
.x-so input.layui-input,.x-so input.layui-btn{
    display: inline-block;
}
.x-red{
    color: red;
}
.x-a{
    color: #053497;
}
.x-a:hover{
    color: #12357f;
}
.x-sort{
    height: 30px;
}
.x-show{
    cursor: pointer;
}
.layui-form-switch{
    margin-top: 0px;
}
.layui-input:focus, .layui-textarea:focus {
    border-color: #18269f!important;
}

.page{
    margin-top: 20px;
    text-align: center;

}
.page a{
    display: inline-block;
    background: #fff url() 0 0 no-repeat;
    color: #888;
    padding: 10px;
    min-width: 15px;
    border: 1px solid #E2E2E2;

}
.page span{
    display: inline-block;
    padding: 10px;
    min-width: 15px;
    border: 1px solid #E2E2E2;
}
.page span.current{
    display: inline-block;
    background: #1E9FFF url() 0 0 no-repeat;
    color: #fff;
    padding: 10px;
    min-width: 15px;
    border: 1px solid #1E9FFF;
}
.page .pagination li{
    display: inline-block;
    margin-right: 5px;
    text-align: center;
}
.page .pagination li.active span{
    background: #1E9FFF url() 0 0 no-repeat;
    color: #fff;
    border: 1px solid #1E9FFF;

}

/*登录样式*/
/*头部*/
.container{
    width: 100%;
    height: 52px;
    background: #001529;
    border-bottom: 1px solid rgba(255, 255, 255, 0.12);
    box-shadow: 0 2px 8px rgba(0,0,0,0.15);
}
.container .logo a{
    float: left;
    color: #fff;
    font-size: 18px;
    padding-left: 24px;
    line-height: 52px;
    width: 200px;
}
.container .right{
    background-color:rgba(0,0,0,0);
    float: right;

}
.container .left_open{
    height: 52px;
    float: left;
}
.container .left_open i{
    display: block;
    background: rgba(255,255,255,0.1) url() 0 0 no-repeat;
    color: #fff;
    width: 32px;
    height: 32px;
    line-height: 32px;
    border-radius: 3px;
    text-align: center;
    margin-top: 10px;
    cursor: pointer;
}
.container .left_open i:hover{
    background: rgba(255,255,255,0.3) url() 0 0 no-repeat;
}

.container .left{
    background-color:rgba(0,0,0,0);
    float: left;

}
.container .layui-nav-item{
    line-height: 45px;
}
.container .layui-nav-more{
    top: 20px;
}
.container .layui-nav-child{
    top: 50px;
}
.container .layui-nav-child i{
    margin-right: 10px;
}
.layui-nav .layui-nav-item a{
    color: #fff;
    cursor: pointer;
}
.layui-nav .layui-nav-child a{
    color: #333;
    cursor: pointer;
}
.left-nav{
    position: absolute;
    top: 52px;
    bottom: 42px;
    left: 0;
    z-index: 2;
    padding-top: 10px;
    background-color: #001529;
    width: 220px;
    max-width: 220px;
    overflow: auto;
    overflow-x:hidden;
    border-right: 1px solid #001529;

    /*width: 0px;*/
}
.left-nav #nav li{
    border-bottom: 1px solid rgba(255,255,255,0.03);
}
.left-nav #nav li:hover > a{
    /*color: blue;*/
}
.left-nav #nav .current{
    background-color: #1890ff;
}
.left-nav #nav li a{
    font-size: 14px;
    padding: 11px 18px 11px 22px;
    display: block;
    cursor: pointer;
    color: rgba(255,255,255,0.85);
}
.left-nav #nav li a cite{
    font-size: 14px;
}

.left-nav #nav li .sub-menu{
    display: none;
}
.left-nav #nav li .opened{
    display: block;
}
.left-nav #nav li .opened:hover{
    /*background: #fff url() 0 0 no-repeat;*/
}
.left-nav #nav li .opened .current{
    
}
.left-nav #nav li .sub-menu li:hover{
    /*color: blue;*/
     /*background: #fff url() 0 0 no-repeat;*/
}
.left-nav #nav li .sub-menu li a{
    padding: 10px 18px 10px 34px;
    font-size: 13px;
    cursor: pointer;
}
.left-nav #nav li .sub-menu li .sub-menu li a{
    padding-left: 45px;
}
.left-nav #nav li .sub-menu li a:hover{
    color: #fff;
    background-color: #1890ff;
}
.left-nav #nav li .sub-menu li a i{
    font-size: 12px;
}
.left-nav #nav li a i{
    padding-right: 10px;
    line-height: 14px;
}
.left-nav #nav li .nav_right{
    float: right;
    font-size: 16px;
}
.x-slide_left {
    width: 17px;
    height: 61px;
    /*background: url(../images/icon.png) 0 0 no-repeat;*/
    background: #ccc;
    position: absolute;
    top: 200px;
    left: 221px;
    cursor: pointer;
    z-index: 3;
}
.page-content{
    position: absolute;
    top: 52px;
    right: 0;
    bottom: 42px;
    left: 221px;
    overflow: hidden;
    z-index: 1;
}
.page-content-bg{
    position: absolute;
    top: 52px;
    right: 0;
    bottom: 42px;
    left: 221px;
    background: rgba(0,0,0,0.5);
    overflow: hidden;
    z-index: 100;
    display: none;
}

.page-content .tab{
    height: 100%;
    width: 100%;
    background: #EFEEF0 url() 0 0 no-repeat;
    margin: 0px;
}
.page-content .layui-tab-title{
    /*padding-top: 5px;*/
    height: 35px;
    background: #EFEEF0 url() 0 0 no-repeat;
    position: relative;
    z-index: 100;
}
.page-content .layui-tab-title li.home i{
    padding-right: 5px;
}
.page-content .layui-tab-title li.home .layui-tab-close{
    display: none;
}
.page-content .layui-tab-title li{
    line-height: 35px;
}
.page-content .layui-tab-title .layui-this:after{
    height: 36px;
}
.page-content .layui-tab-title li .layui-tab-close{
    border-radius: 50%;
}
.page-content .layui-tab-title .layui-this{
    background: #fff url() 0 0 no-repeat;
}
.page-content .layui-tab-bar{
    height:34px;
    line-height: 35px;
}
.page-content .layui-tab-content{
    position: absolute;
    top: 36px;
    bottom: 0px;
    width: 100%;
    background: #fff url() 0 0 no-repeat;
    padding: 0px;
    overflow: hidden;
}
.page-content .layui-tab-content .layui-tab-item{
    width: 100%;
    height: 100%;
    
}
.page-content .layui-tab-content .layui-tab-item iframe{
    width: 100%;
    height: 100%;

}
.x-admin-carousel,.layui-carousel,.x-admin-carousel>[carousel-item]>* {
    background-color:#fff
}

.x-admin-backlog .x-admin-backlog-body {
    display:block;
    padding:10px 15px;
    background-color:#f8f8f8;
    color:#999;
    border-radius:2px;
    transition:all .3s;
    -webkit-transition:all .3s
}
.x-admin-backlog-body h3 {
    padding-bottom:10px;
    font-size:12px
}
.x-admin-backlog-body p cite {
    font-style:normal;
    font-size:30px;
    font-weight:300;
    color:#1E9FFF
}
.x-admin-backlog-body:hover {
    background-color:#CFCFCF;
    color:#888
}

.welcome-footer{padding: 30px 0; line-height: 30px; text-align: center; background-color: #eee; color: #666; font-weight: 300;}
body .layui-layout-admin .footer-demo{height: auto; padding: 15px 0; line-height: 26px;}
.welcome-footer a{padding: 0 5px;}

/* 统一按钮与绿色背景为蓝色主题，覆盖 layui 默认 #009688 */
.layui-btn,
.layui-btn-normal{
    background-color: #1E9FFF !important;
    border-color: #1E9FFF !important;
}

.layui-btn:hover,
.layui-btn-normal:hover{
    background-color: #1AA7FF !important;
    border-color: #1AA7FF !important;
}

.layui-bg-green{
    background-color: #1E9FFF !important;
}
table th, table td {
    word-break: break-all;
}

.footer{
    position: fixed;
    bottom: 0px;
    width: 100%;
    background-color: #222;
    border-top: 1px solid rgba(255, 255, 255, 0.2);
    line-height: 41px;
    color: #fff;
    /*padding-left: 10px;*/
}
.footer .copyright{
    margin-left: 10px;
}


@media screen and (max-width: 768px){
    .fast-add{
        display: none;
    }
    .layui-nav .to-index{
        display: none;
    }
    .container .logo a{
        width: 140px;
    }
    .container .left_open {
        /*float: right;*/
    }
    .left-nav{
        left: -221px;
    }
    .page-content{
        left: 0px;
    }
    .page-content .layui-tab-content .layui-tab-item{
        -webkit-overflow-scrolling: touch; 
        overflow-y: scroll; 
    }
    .x-so input.layui-input{
        width: 100%;
        margin: 10px;
    }
}

